{% extends "base.html" %}
{% block content %}
{% from "macro.html" import render_field, checkbox%}
<div class="content-section">
    <form class="form-group" action="" method="post">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Request Reset Password</legend>
        <div class="form-group mt-2">
            {{form.email.label(class="form-control-label")}}
            {{render_field(form.email)}}
        </div>
    </fieldset>
    <div class="form-group mt-4">
        {{form.submit(class="btn btn-outline-primary")}}
    </div>
    </form>
</div>

{% endblock%}